<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 ">
            <form #form="ngForm" name="forgotPass" (ngSubmit)="forgotmypassword()" *ngIf="!displayReset">


                <div class="mb-3">
                    <input type="email" class="form-control" name="email" [(ngModel)]="forgotPass.email" placeholder="Email" required>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">Request new password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <form #form2="ngForm" name="forgotPass" (ngSubmit)="resetmypassword()" *ngIf="displayReset">


                <div class="mb-3">
                    <input type="password" class="form-control" name="newPassword" [(ngModel)]="resetPass.newPassword" placeholder="New Password" required #newPassword="ngModel" [class.is-invalid]="newPassword.touched && newPassword.invalid">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="resetPass.confirmPassword" placeholder="Confirm Password" required #confirmPassword="ngModel" [class.is-invalid]="confirmPassword.touched && ( confirmPassword.invalid || resetPass.confirmPassword !== resetPass.newPassword)">


                    <span *ngIf="confirmPassword.touched && ( confirmPassword.invalid || resetPass.confirmPassword !== resetPass.newPassword)" class="text-danger">Password and
                  Confirm Password must be the same</span>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="securityCode" [(ngModel)]="resetPass.securityCode" placeholder="Security Code" required #securityCode="ngModel" [class.is-invalid]="securityCode.touched && securityCode.invalid ">

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" [disabled]="form2.invalid" class="btn btn-primary btn-block">Update Password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mt-3 mb-1">
                <a routerLink="/login" class="btn bg-success btn-block">Login</a>
            </p>
            <p class="mb-0">
                <a routerLink="/register" class="btn bg-success btn-block text-center">Register a new membership</a>
            </p>
        </div>
        <div class="col-lg-4"></div>

    </div>
</div>